@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Share styles */

/* Shared fonts */
.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.manrope-bold {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #e02c6d;
  color: white;
  border: none;
  padding: 10px 24px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 16px;
}

.secondary-btn {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #e02c6d;
  color: white;
  border: none;
  padding: 10px 24px;
}

.primary-btn img {
  font-weight: 900;
}
/* Styling nav section */

#nav-section {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 1.5rem;
}

.nav-selection ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-selection li {
  list-style-type: none;
}

.nav-selection li a {
  text-decoration: none;
  color: #3a3a3a;
}

.nav-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.nav-icon img {
  width: 100%;
  height: 100%;
}

/* styles banner section */

#banner-section {
  margin: 80px auto;
  max-width: 1200px;
}
.banner-image-container {
  background-image: url("../images/Circle\ background.jpg");
  background-position: center;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

.banner-title {
  font-size: 3rem;
}

.banner-description {
  font-size: 1rem;
  margin-top: 16px;
  /* max-width: fit-content; */
}

/* styles  online shop section */
.online-shop {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-top: 1px solid rgba(128, 128, 128, 0.1);
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  padding: 36px 0;
}

/* styles popular collection section */

.popular-collection-section {
  max-width: 1047px;
  margin: 100px auto;
}

.popular-title {
  text-align: center;
  font-size: 1.7rem;
  color: #3a3a3a;
}

.popular-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
  margin-top: 50px;
}

.popular-card {
  padding: 17px 15px;
  box-shadow: 0px 4px 4px 3px hsla(0, 0%, 0%, 0.3);
  border-radius: 8px;
}

.card-title {
  font-size: 1.75rem;
  margin-top: 16px;
}

.card-price {
  font-size: 1.5rem;
  columns: hsla(0, 0%, 0%, 0.817);
  margin-top: 16px;
}
.card-rating-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.card-description {
  font-weight: bold;
  font-size: 14px;
  color: #787885;
}

.rating-symbol {
  display: flex;
  width: 50px;
  height: 50px;
  position: relative;
  gap: 1px;
  transform: translate(-5px);
  /* border: 1px solid; */
}

.rating-symbol img {
  width: 100%;
  height: 100%;
}

.rating-number {
  font-size: 1rem;
}

.see-more {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 50px;
  gap: 10px;
}

.see-more a {
  text-decoration: none;
  color: #e02c6d;
  font-size: 16px;
}

/* styling featured products section */

.feature-product-container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.feature-title {
  font-size: 2rem;
}

.feature-description {
  margin: 1rem 0px;
}

/* styles footer section */

.footer-section {
  background-color: #0b0826;
  height: 200px;
  text-align: center;
  margin-top: 150px;
}

.footer-container {
  transform: translateY(50px);
  /* border: 1px solid wheat; */
}

.footer-title,
.footer-description {
  color: aliceblue;
}

.footer-title {
  font-size: 1.5rem;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

.footer-logo {
  width: 35px;
  height: 35px;
  background-color: #24213b;
  border-radius: 50%;
  /* border: 1px solid white; */
  overflow: hidden;
  padding: 5px;
  margin: 3px 0px;
}

.footer-logo img {
  width: 100%;
  height: 100%;
}

/* !Responsive styles */
/* *For mobile device */
@media screen and (max-width: 566px) {
  #nav-section {
    flex-direction: column;
  }

  .nav-selection ul {
    flex-direction: column;
    gap: 5px;
  }

  .banner-container {
    flex-direction: column;
    /* text-align: center; */
  }

  .banner-title {
    font-size: 1.7rem;
  }

  .banner-text-button {
    text-align: center;
    order: 2;
  }
  .primary-btn {
    margin-left: 30%;
  }

  .banner-image-container {
    order: 1;
  }

  .online-shop {
    flex-wrap: wrap;
  }

  .online-shop img {
    width: 100%;
  }

  .popular-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .feature-product-container {
    flex-direction: column;
    text-align: center;
  }

  .secondary-btn {
    position: relative;
    transform: translate(135px, 30px);
  }

  .feature-image-container {
    order: 2;
  }

  .feature-text-container {
    order: 1;
  }
}
