@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Share styles */

/* Shared fonts */
.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.manrope-bold {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #e02c6d;
  color: white;
  border: none;
  padding: 10px 24px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 16px;
}

.primary-btn img {
  font-weight: 900;
}
/* Styling nav section */

#nav-section {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 1.5rem;
}

.nav-selection ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-selection li {
  list-style-type: none;
}

.nav-selection li a {
  text-decoration: none;
  color: #3a3a3a;
}

.nav-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.nav-icon img {
  width: 100%;
  height: 100%;
}

/* styles banner section */

#banner-section {
  margin: 80px auto;
  max-width: 1200px;
}
.banner-image-container {
  background-image: url("../images/Circle\ background.jpg");
  background-position: center;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

.banner-title {
  font-size: 3rem;
}

.banner-description {
  font-size: 1rem;
  margin-top: 16px;
  /* max-width: fit-content; */
}

/* !Responsive styles */
@media screen and (max-width: 566px) {
  #nav-section {
    flex-direction: column;
  }

  .nav-selection ul {
    flex-direction: column;
    gap: 5px;
  }

  .banner-container {
    flex-direction: column;
    /* text-align: center; */
  }

  .banner-title {
    font-size: 1.7rem;
  }

  .banner-text-button {
    text-align: center;
    order: 2;
  }
  .primary-btn {
    margin-left: 30%;
  }

  .banner-image-container {
    order: 1;
  }
}
